:root{
    --main-color:#0ecee0;
    --second-color:#e811fd;
}
/* Start main style */
.text-main-color{
    color:var(--main-color) !important;
}
.text-second-color{
    color:var(--second-color) !important;
}
.bg-main-color{
    background-color: var(--main-color) !important;
}
.bg-second-color{
    background-color: var(--second-color) !important;
}
.bg-navbar{
    background: -webkit-linear-gradient(top left,var(--main-color) ,var(--second-color) );
}
.bg-gradient-page{
    background: -webkit-radial-gradient(0% 100%,farthest-corner,var(--main-color),var(--second-color));
}
.btn-main{
    background: -webkit-linear-gradient(top left,var(--main-color) ,var(--second-color) );
    color:white;
    font-weight: bold;
    letter-spacing: .25rem;
}
.rounded-mine{
    border-radius:2rem !important; 
}
.circle{
    border-radius:50% !important;
}
/* End main style */
/* Start header */
.languages, .profile {
    position: relative;
}
#collapseLanguages , #collapseProfile{
    position:absolute;
    top:100%;
    left:-10%;
    width:120%;
}
#collapseProfile{
    left:0;
    width:100%;
}
.can-add:hover{
    border: 1px solid var(--second-color);
    border-radius: 50%;
    padding: .5rem;
    cursor:pointer;
}
.active-start-date, .active-end-date, .active-among-date{
    background-color: var(--second-color) !important;
    border:none;
    color:white;
    border-radius:50%;
    padding:.5rem;
}
.active-among-date{
    opacity:.3;
}
@media (max-width:556px){
    #calendar-modal .col{
        padding:.1rem !important;
    }
}
@media (max-width:380px){
    #calendar-modal{
        font-size:.6rem;
    }
}
.minus-btn, .plus-btn{
    border:1px solid black;
    line-height:.2rem;
    padding-left:.5rem;
    padding-right:.5rem;
    padding-bottom:.3rem;
    border-radius:50%;
    margin:0 .5rem;
    cursor:pointer;
}
.minus-btn:hover, .plus-btn:hover{
    background-color: var(--main-color);
    opacity:.1;
}
.travellers-room{
    position:relative;
}
#travellers-details {
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    z-index:2;
}
/* End header */
/* Start login */
@media (min-width:768px){
    .form-sign{
        width:75%;
    }
}
@media (min-width:992px){
    .form-sign{
        width:50%;
    }
}
.parent-sign{
    position:relative; 
    overflow: hidden;
}
.sign-in,.sign-up,.forgot-password{
    transition: 1s;
}
.sign-up{
    position:absolute;
    top:0;
    left:100%;
    width:100%;
    height:100%;
}
.forgot-password{
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
}
/* End login */
/* Start Home Page */
.destination {
    position:relative;
}
.location-des{
    position: absolute;
    left:1.2rem;
    top:50%;
    transform: translateY(-50%);
}
.discover-new-fav img{
    object-fit: cover;
}
@media(max-width:767px){
    .discover-new-fav img{
        height:200px;
    }
}
@media (max-width:991px){
    .discover-new-fav img{
        height:300px;
    }
}
@media (min-width:992px){
    .discover-new-fav img{
        height:400px;
    }
}
.discover-new-link{
    position:relative;
}
.discover-img-info{
    position:absolute;
    bottom:0;
    left:.5rem;
}
#carouselDiscover, #carouselPerfectPlaces{
    position:relative;
}
.carousel-control{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    z-index:1;
    border-radius:50%;
    border:none;
    background-color: white;
    display:none;
    transition: 1s display;
}
.ccl{
    left:0;
    transform: translateX(-50%);
}
.ccr{
    right:0;
    transform: translateX(+50%);
}
.carousel:hover .carousel-control{
    display:block;
}
.perfect-places img, .weekend img{
    object-fit: cover;
}
@media (max-width:991px){
    .perfect-places img, .weekend img{
        height:150px;
    }
}
@media (min-width:992px){
    .perfect-places img, .weekend img{
        height:200px;
    }
}
.discover-new-link{
    position:relative;
}
/* End Home Page */
/* Start footer */
footer .nav .nav-link{
    font-size:.75rem;
}
/* End footer */
/* start product page */
@media (min-width:992px){
    .new-hotel{
        width:75%;
    }
}
#addHotel {
    position:relative;
    overflow: hidden;
}
.hotel{
    position:relative;
    left:0;
    transition: .5s;
}
.room, .amenities{
    position:absolute;
    top:0;
    width:100%;
    transition: .5s;
}
.room{
    left:100%;
}
.amenities{
    left:200%;
}
/* end product page */
